:root {
  --text-color: rgb(220, 220, 220);
  --text-color-2: rgb(170, 170, 170);
  --back-color: rgb(47, 47, 47);
  --header-height: 3.7em;
}

body {
  margin: 0;
  padding: 0;
  background: var(--back-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  left:0;
  top:0;
  right:0;
  height: var(--header-height);
  border-bottom: 1px solid var(--text-color);
  background: var(--back-color);
  padding: 0.5em;
  box-sizing: border-box;
}

header .title {
  font-size: 1.5em;
  word-wrap: none;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  overflow: hidden;
}

header .breadcrumbs {
  color: var(--text-color-2);
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.25em;
}

header .breadcrumbs .downloads{
  flex-grow: 1;
  text-align: right;
  word-wrap: none;
  overflow: hidden;
}

header .breadcrumbs div {
  word-wrap: none;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  overflow: hidden;
}

header a{
  color: var(--text-color-2);
  text-decoration: none;
}
header a:visited{
  color: var(--text-color-2);
}
header a:hover{
  text-decoration: underline;
}


header .breadcrumbs a:visited {
  color: var(--text-color-2);
}

.content {
  padding-top: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.content .something {
  font-size: 1.6em;
  padding: 2em;
  box-shadow: 0px 0px 0.2em var(--text-color);
  border-radius: 0.2em;
}

.books {
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.books .disclaimer {
  padding-top: 5em;
  max-width: 800px;
  font-style: italic;
}

.books .disclaimer a {
  color: var(--text-color-1);
  font-weight: bold;
}


.books .booklist {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
  padding-bottom: 5em;
}

.books .booklist .book {
  max-width: 20em;
  min-width: 20em;
  width: 20em;
}

.books .booklist .book .cover {
  height: 35em;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.books .booklist .book .cover-soon {
  border: 1px dashed var(--text-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.books .booklist .book .cover-soon-text {
  font-size: 1.3em;
  font-style: italic;
}

.books .booklist .book .cover-01 {
  background-image: url(/vc/01.\ Vlad\ and\ the\ Big\ G-Nubz.png);
}
.books .booklist .book .cover-02 {
  background-image: url(/vc/02.\ Vlad\ and\ The\ King.png);
}
.books .booklist .book .cover-03 {
  background-image: url(/vc/03.\ Vlad\ and\ the\ Accidental\ Bride.png);
}
.books .booklist .book .cover-04 {
  background-image: url(/vc/04.\ Vlad\ and\ the\ Asgoikyos\ Dilemma.png);
}
.books .booklist .book .cover-05 {
  background-image: url(/vc/05.\ Vlad\ and\ the\ Queen.png);
}

.downloads {
  text-align: center;
}

.downloads a{
  color: var(--text-color-1);
}
.downloads a:visited{
  color: var(--text-color-1);
}

.reader {
  margin-top:var(--header-height);
  padding: 1em;
  display: flex;
}

.reader-fixed {
  top:var(--header-height);
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  padding: 1em;
  display: flex;
  position: fixed;
}

.readerframe {
  background-color:#fff;
  max-width: 600px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
}



.center-panel {
  background-color: brown;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}

.center-panel :first-child {
  background-color: beige;
  width: 1em;
}

.center-panel .panel {
  background-color: blueviolet;
  flex-grow: 1;
}

.center-panel :last-child {
  background-color: beige;
  width: 1em;
  
}



